#忽略这些依赖的库文件可以到
#发布页面下载https://github.com/cool2528/baiduCDP/releases
/.vs
/include
/lib
/LocalStorage

#防止编译器生成的文件也上传
/Debug
/Release
#这些都是vs项目生成的文件
*.aps
*.suo
*.db
*.dll
*.lib
*.sdf
*.db
*.iobj
*.ipdb
*.ipch
*.1.tlog
*.log
*.pch
*.pdb
*.rar
*.zip
*.txt